@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

@font-face {
  font-family: "DMSerif";
  src: url(./fonts/DMSerifDisplay-Regular.ttf);
  font-family: "Cormorant Garamond";
  src: url(./fonts/CormorantGaramond-VariableFont_wght.ttf);
}

:root {
  --colortxt: #313131;
  --colortitle: #e2861c;
  --colorlink: #251c0f;
  --colorborder: #ffd900;
  --colorshadow: #cfab81;
  --colorback: rgba(22, 21, 20, 0.644);
  --linear-grad: (
    90deg,
    rgba(51, 47, 87, 1) 0%,
    rgba(110, 99, 157, 1) 50%,
    rgba(190, 144, 184, 1) 100%
  );
}

/* L'étoile donne du style à TOUS les éléments */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cormorant Garamond", serif;
  /* Les tailles de polices doivent être en REM */
  font-size: 1.2rem;
  background: url(./img/pellissier-wall.jpg) center/cover;
  /* VH = 100% de la taille de l'écran (viewport height) */
  height: 100vh;
  color: var(--colortxt);
}

footer {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.cadre {
  display: grid;
  grid-template-columns: 10% 90%;
}

main {
  min-height: 500px;
  width: 95%;
  backdrop-filter: blur(5px);
  border: 2px solid var(--colorborder);
  border-radius: 20px 20px 0 0;
  box-shadow: 0px 0px 20px 4px var(--colorshadow);
  padding: 15px;
  /* Centrer une boite */
  margin: 0 auto;
}
nav {
  min-width: 150px;
  max-height: 500px;
}

main li {
  margin-left: 20px;
}
main hr {
  color: var(--colorborder);
}

h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 2.5rem;
  text-align: center;
  color: var(--colortitle);
  font-family: "Oswald", sans-serif;
}

h2,
h3 {
  /* text-align: center; */
  color: var(--colortxt);
  font-family: "Oswald", sans-serif;
}
a {
  text-decoration: none;
  font-family: Ubuntu, sans-serif;
  font-size: 1rem;
  background-color: var(--colorshadow);
  color: var(--colorlink);
  border-radius: 5px;
  padding: 0 10px;
}
code {
  font-size: 0.8rem;
  background-color: var(--colortxt);
  color: whitesmoke;
}
button {
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--colorshadow);
}
button:hover,
a:hover {
  color: var(--colorshadow);
  background-color: var(--colorlink);
}

/* SECTION en ACCORDEON (FAQ) */
/* Sert à faire apparaître l'article au clic sur le sommaire */
.container-summary {
  margin-top: 10px;
}
.faq summary {
  cursor: pointer;
  font-family: "Oswald", sans-serif;
}
.faq p,
.faq ul,
.faq ol {
  margin-left: 50px;
}

/* FLEXBOX */
/* Sert a répartir équitablement des éléments sur la page */
.flexbox {
  display: flex;
  justify-content: left;
  padding-top: 5px;
  gap: 10px;
}

.flexbox ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: var(--colorshadow);
  padding: 10px;
  gap: 5px;
}

.flexbox li {
  list-style: none;
  margin: 10px;
  font-family: "Oswald", sans-serif;
}
